@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor {
  font-weight: 100;
  font-size: 24px;
  color: #1D4ED8; /* Tailwind blue-700 */
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


